# begin metagrid
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # adjust to your folderstructure
    RewriteRule . /example/index.php [L]
</IfModule>
# end metagrid